* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 4px 4px 4px grey;
  }

  h1 {
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 820px;
    background-color: gray;

  }
  p {
    margin: 20px 0;
    font-size: 1.1rem;
  }


  #message {
    width: inherit;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 4px grey;
  }
  #message * {
    margin: 10px;
  }
  #message .header {
    margin: 0px;
    background-color: #ddd;
    padding: 10px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
  }
  #message button {
    height: 30px;
    width: 80px;
  }


/* Styles for position */
.heading{
  position: fixed;
  top: 0;
  z-index: 2;
  /*left: 20px;*/
}

.mainContent{
    margin: 80px;
}

.messageContainer{
    border: 1px solid black;
    height: 300px;
    position: relative;
    z-index: 1;
}

#message{
  position: absolute;
  left: 100px;
  bottom: 10px;
  z-index: 2;
}

.especial{
  position: relative;
  z-index: 1;
}

.primero{
  position: relative;
  /*z-index: 10;*/
}