*{
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    background-color: aqua;
    color: white;
    align-items: center;
}

.cities{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.cities > li{
    margin: 20px;
}

main{
    padding: 0 50px;
}

.currentCity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 2px solid black;
}

.forecast{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

.day{
    background-color: rgb(214, 214, 214);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.weatherImage{
    width: 100px;
    border-radius: 50%;
}

.temperatures{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.maxTemp{
    color: red;
}

.minTemp{
    color: blue;
}

.cookie{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10px;
    margin: 0 50px;
    background-color: rgb(214, 214, 214);
    border: 2px solid black;
    padding: 15px;
    align-items: center;
    gap: 15px;
}

button{
    min-width: 80px;
    border: 2px solid black;
    background-color: aqua;
}